<div class="container main_content">
    <h1>Inserir transação:</h1>
    <div class="formulario_transacao">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="formulario">
              <div><label for="">Título: {{ form.titulo }}</label></div>
              <div><label for="">Categoria: {{ form.categoria }}</label></div>
              <div><label for="">Valor R$: {{ form.valor }}</label></div>
              <div><label for="">Receita: {{ form.receita }}</label></div>
              <div class="formulario_recorrencia">
                <div><input type="button" id="show" value="Recorrente"></input></div>
                <div><input type="button" id="hide" value="Não recorrente"></input></div>
                <div><label for="" class="formulario_meses" style="display: none">Meses: {{ form.meses }}</label></div>
              </div>
            </div>
            <input type="submit" value="Enviar" style="margin-top: 10px;">
        </form>
    </div>

    <div class="formulario_busca">
        <form action="" method="get" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{ request.GET.q }}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>

    <div class="tabela_resultados">
        <table class="table">
            <thead>
              <tr>
                <th>Titulo</th>
                <th>Valor</th>
                <th>Tipo</th>
                <th>Data</th>
              </tr>
            </thead>
            <tbody>
              {% for transacao in transacoes %}
                <tr>
                    <td>{{ transacao.titulo }}</td>
                    <td>{{ transacao.valor }}</td>
                    <td>{{ transacao.receita }}</td>
                    <td>{{ transacao.data | date:"d/m/Y" }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
</div>